body{
  position:absolute;
  left:50%;
  margin-left:-50%;
  width:100%;
  font-family:Hiragino Kaku Gothic ProN;
}

.container{

  padding:0 15px;
}

header{
  background-color:black;
  height:80px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:10;
}

.header-left{
  margin-top:10px;
  color:white;
  float:left;
}

.header-right {
  float:right;
  padding-top: 11px;
}

.header-right li{
  float:left;
  color:white;
  list-style:none;
  position: relative;
}

.header-right li ul{
  display:none;
  position:absolute;
  margin-top:0px;
  padding-top: 5px;
  padding-left: 0;
  background-color: black;
  width:120px;
}

.header-right li ul li{
  float:inherit;
  margin:0 auto;
  padding:10px;
}

.header-right li ul li:nth-child(n+2){
  border-top: 1px solid gray;
}

.header-right li a{
  display:block;
  margin:0px;
  padding:0px 20px;
  color:white;
  text-decoration: none;
  text-align:center;
}

.header-right li a:hover{
  background-color: rgba(205,62,62,0.5);
  border-radius:10px;
  transition: all 0.5s;
}

.header-right li:hover >ul{
  display:block;
}

@media(max-width:1025px){
  header{
    font-size: 22px;
    height:100px;
    padding-top: 11px;
  }

.top{
  background-image:url(https://pictkan.com/photo/sports/soccer/%E8%90%BD%E3%81%A1%E8%91%89%E3%81%A8%E5%8F%A4%E3%81%B3%E3%81%9F%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%AB/jRZl/1280/853/download);
  background-size:cover;
  opacity:0.7;
  height:710px;
  padding:30px 0px 0px 0px;
  width:100%;
  position:absolute;
}

.top h1{
  font-size:150px;
  color:black;
  text-align:center;
  padding-top:140px;
  height:100px;
  letter-spacing: 5px;
}



.intro{
  background-color: rgb(140,140,90);
  margin:300px auto;
  width:85%;
  height:8000px;
  position:relative;
  top:230px;
  left:0px;
  border-radius:50px;
  padding-bottom: 300px;
}

.intro h1{
  text-align: center;
  font-size:80px;
  padding:40px 0px;
  border-bottom:5px dotted white;
}

.person{
  padding-left: 50px;
  padding-bottom: 30px;
  height:270px;
  border-bottom:5px dotted white;
}

.person h3{
  color:rgb(255,248,220);
  font-size:40px;
  height:30px;
}

#hikac,#melon,#boku,#omo,#messu,#reiwa,#ippe{
  padding-top: 120px;
  margin-top: -120px;
}

#kendo,#kon,#japan,#soba,#maenao,#thisu,#red{
  padding-top: 120px;
  margin-top: -120px;
}

#papa,#bomb,#gomi{
  padding-top: 120px;
  margin-top: -120px;
}


.person-left{
  color:white;
  font-size: 25px;
  padding:-10px 0px;
  float:left;
}

.person-left a{
  color:white;
}

.person-right {
  font-size:20px;
  color:rgb(255,248,220);
  float:right;
  padding-right: 110px;
}

.person-right p{
  height:20px;
}

#content{
  color:white;
  font-size:25px;
  padding-bottom: 10px;
}

@media(max-width:1025px){
  .top{
    height:670px;
  }

  .intro{
  height:15000px;
  }
  .person{
    height:550px;
  }

  .person-left{
    font-size: 35px;
  }

  .person-right{
    padding-top: 20px;
    float:left;
    font-size: 25px;
    color:rgb(255,248,220);
  }
  #content{
    padding-bottom: 60px;
    font-size: 35px;
    color:white;
  }
}



footer{
  height:160px;
  background-color:black;
  color:white;
  width:100%;
  text-align:center;
  padding-top:15px;
  padding-bottom: 50px;
}

@media(max-width:1025px){
  footer{
    font-size: 19px;
  }
}
