body{
  position:absolute;
  left:50%;
  margin-left:-50%;
  width:100%;
  font-family:Hiragino Kaku Gothic ProN;
}

.container{

  padding:0 15px;
}

header{
  background-color:black;
  height:80px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:10;
}

.header-left{
  margin-top:10px;
  color:white;
  float:left;
}

.header-right {
  float:right;
  padding-top: 11px;
}

.header-right li{
  float:left;
  color:white;
  list-style:none;
  position: relative;
}

.header-right li ul{
  display:none;
  position:absolute;
  margin-top:0px;
  padding-top: 5px;
  padding-left: 0;
  background-color: black;
  width:120px;
}

.header-right li ul li{
  float:inherit;
  margin:0 auto;
  padding:10px;
}

.header-right li ul li:nth-child(n+2){
  border-top: 1px solid gray;
}

.header-right li a{
  display:block;
  margin:0px;
  padding:0px 20px;
  color:white;
  text-decoration: none;
  text-align:center;
}

.header-right li a:hover{
  background-color: rgba(205,62,62,0.5);
  border-radius:10px;
  transition:all 0.5s;
}

.header-right li:hover >ul{
  display:block;
}
.menu-icon {
  color: white;
  font-size: 35px;
  padding: 25px 20px;
  /* displayをnoneに指定してください */
  display:none;
}

.header-smart{
  display: none;
}

@media(max-width:1025px){
  header{
    height:85px;
  }
  .header-left{
    font-size:22px;
    padding-top: 0px;
    margin:0px;
    float:right;
    letter-spacing: 1px;
  }

  .header-right{
    display:none;
  }

  .header-smart{
    display: block;
  }
  .menu-icon{
    float:left;
    display:block;
    position:relative;
  }

  .menu-icon{
    color:white;
    position: relative;
  }

  .menu-icon ul{
    display:none;
    position:absolute;
    top:85px;
    left:-15px;
    margin-top:0px;
    padding: 10px;
    padding-left: 0px;
    background-color: rgba(128,128,128,0.6);
    width:280px;
  }

  .menu-icon ul li{
    list-style:none;
    float:inherit;
    margin:0 auto;
    padding:35px 10px;
  }

  .menu-icon ul li:nth-child(n+2){
    border-top: 1px solid white;
  }

  .header-smart li a{
    display:block;
    margin:0px;
    padding:0px 20px;
    color:white;
    text-decoration: none;
    text-align:center;
  }

  .header-smart li a:hover{
    background-color: rgba(255,255,240,0.3);
    border-radius:10px;
    height:55px;
    line-height: 55px;
  }

  .menu-icon:hover >ul{
    display:block;
  }
}



.top{
  background-image:url(https://pictkan.com/photo/sports/soccer/%E8%90%BD%E3%81%A1%E8%91%89%E3%81%A8%E5%8F%A4%E3%81%B3%E3%81%9F%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%AB/jRZl/1280/853/download);
  background-size:cover;
  opacity:0.7;
  height:710px;
  padding:30px 0px 0px 0px;
  width:100%;
  position:absolute;
}

.top h1{
  font-size:150px;
  color:black;
  text-align:center;
  padding-top:140px;
  height:100px;
  letter-spacing: 5px;
}



.intro{
  background-color: rgb(210,230,230);
  margin:300px auto;
  width:85%;
  height:1000px;
  position:relative;
  top:230px;
  left:0px;
  border-radius:50px;
  padding-bottom: 300px;
}

.intro h1{
  text-align: center;
  font-size:80px;
  padding:40px 0px;
  border-bottom:5px dotted white;
}


.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: rgb(200,200,150);
  color: black;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: white;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: white;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 0px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}



footer{
  height:160px;
  background-color:black;
  color:white;
  width:100%;
  text-align:center;
  padding-top:15px;
  padding-bottom: 50px;
}

@media(max-width:1025px){
  footer{
    font-size: 19px;
  }
}
