body{
  position:absolute;
  left:50%;
  margin-left:-50%;
  width:100%;
  font-family:Hiragino Kaku Gothic ProN;
}

.container{

  padding:0 15px;
}

header{
  background-color:black;
  height:80px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:10;
}

.header-left{
  margin-top:10px;
  color:white;
  float:left;
}

.header-right {
  float:right;
  padding-top: 11px;
}

.header-right li{
  float:left;
  color:white;
  list-style:none;
  position: relative;
}

.header-right li ul{
  display:none;
  position:absolute;
  margin-top:0px;
  padding-top: 5px;
  padding-left: 0;
  background-color: black;
  width:120px;
}

.header-right li ul li{
  float:inherit;
  margin:0 auto;
  padding:10px;
}

.header-right li ul li:nth-child(n+2){
  border-top: 1px solid gray;
}

.header-right li a{
  display:block;
  margin:0px;
  padding:0px 20px;
  color:white;
  text-decoration: none;
  text-align:center;
}

.header-right li a:hover{
  background-color: rgba(205,62,62,0.5);
  border-radius:10px;
  transition: all 0.5s;
}

.header-right li:hover >ul{
  display:block;
}

.menu-icon {
  color: white;
  font-size: 35px;
  padding: 25px 20px;
  /* displayをnoneに指定してください */
  display:none;
}

.header-smart{
  display: none;
}

@media(max-width:1025px){
  header{
    height:85px;
  }
  .header-left{
    font-size:22px;
    padding-top: 0px;
    margin:0px;
    float:right;
    letter-spacing: 1px;
  }

  .header-right{
    display:none;
  }
  .menu-icon{
    float:left;
    display:block;
    position:relative;
  }
  .header-smart{
    display: block;
  }

  .menu-icon{
    color:white;
    position: relative;
  }

  .menu-icon ul{
    display:none;
    position:absolute;
    top:85px;
    left:-15px;
    margin-top:0px;
    padding: 10px;
    padding-left: 0px;
    background-color: rgba(128,128,128,0.6);
    width:280px;
  }

  .menu-icon ul li{
    list-style:none;
    float:inherit;
    margin:0 auto;
    padding:35px 10px;
  }

  .menu-icon ul li:nth-child(n+2){
    border-top: 1px solid white;
  }

  .header-smart li a{
    display:block;
    margin:0px;
    padding:0px 20px;
    color:white;
    text-decoration: none;
    text-align:center;
  }

  .header-smart li a:hover{
    background-color: rgba(255,255,240,0.3);
    border-radius:10px;
    height:55px;
    line-height: 55px;
  }

  .menu-icon:hover >ul{
    display:block;
  }
}


.top{
  background-image:url(https://pictkan.com/photo/sports/soccer/%E8%90%BD%E3%81%A1%E8%91%89%E3%81%A8%E5%8F%A4%E3%81%B3%E3%81%9F%E3%82%B5%E3%83%83%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%BC%E3%83%AB/jRZl/1280/853/download);
  background-size:cover;
  opacity:0.7;
  height:710px;
  padding:30px 0px 0px 0px;
  width:100%;
  position:absolute;
}

.top h1{
  font-size:150px;
  color:black;
  text-align:center;
  padding-top:140px;
  height:100px;
  letter-spacing: 5px;
}



.rank{
  background-color: rgb(200,200,150);
  margin:300px auto;
  width:85%;
  height:1500px;
  position:relative;
  top:230px;
  left:0px;
  border-radius:50px;
  padding-bottom: 300px;
}

.ones{
  display:flex;
  flex-wrap:wrap;
}

.rank h1{
  text-align: center;
  font-size:80px;
  padding-top:40px;
}

.rank li{
  list-style: none;
}

.rank .one{
  flex:auto;
  width:40%;
  margin:20px;
  height:350px;

  background-color: white;
  border-radius: 10px;
}

.one p{
  font-size: 35px;
  color:rgb(160,82,45);
  padding:20px 0px 0px 30px;
  font-weight:bold;
}

.one p span{
  color:black;
  padding-left: 15px;
  font-size: 21px;
  font-weight: normal;
}

.one li{
  margin-left: -35px;
  font-size:30px;
  list-style: none;
  color:black;
  font-weight:bold;
  padding-bottom: 5px;
  padding-left:30px;
}
.one li span{
  float: right;
  padding-right: 45px;
  font-size: 25px;
  font-weight: normal;
}


@media(max-width:1025px) {
  .rank{
    width:90%;
    height:3500px;
  }
  .rank .one{
    width:80%;
    height:480px;
  }

  .rank .one li{
    padding-top: 30px;
  }

  .rank .one span{
    font-size:30px;
  }
}

footer{
  height:160px;
  background-color:black;
  color:white;
  width:100%;
  text-align:center;
  padding-top:15px;
  padding-bottom:50px;
}

@media(max-width:1025px){
  footer{
    font-size: 19px;
  }
}
